@include media(480px){
    .carousel{
        &__avatar-and-id-wrapper{
            flex-direction: row;
        }
        &__twitter-account{
            text-align: start;
        }
        &__avatar{margin:0}
        &__id-wrapper{margin-left:25px}
        &__feedback{margin:15px 80px;}
    }
}
@include media(768px){ .carousel{&__name{color: #635c73;}&__feedback{font-size: 20px;margin:15px 100px;}}
.link-section {
    &__form {
        margin-top:40px;
        flex-direction: row;
        justify-content: center;

    }
    &__button {width:240px;margin:30px 20px}}}

@include media(1200px){.carousel{&__feedback{font-size: 20px;margin:15px 300px;}

}
.slick-next{right:15%;}
.slick-prev{left:15%;}
}

