@include media(480px) {
    .main-page-footer {
        padding: 40px 35px;

        &__logo {
            position: static;
        }

        &__logo-and-text {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

        }

        &__info-text {
            padding-right: 0;
        }

        &__description::before {
            content: '';
            flex-basis: 100%;
            order: 1;
        }


    }

}

@include media(768px) {
    .main-page-footer {

        &__contacts-and-info-wrapper,
        &__logo-and-navigation-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__navigation-headline {
            margin: 0 0 20px 0
        }

        &__contacts {
            margin-right: 40px
        }

        &__nav,
        &__info-wrapper {
            margin-left: 14%
        }

        &__phone-number,
        &__info-headline {
            margin-top: 45px
        }

        &__info-wrapper {
            width: 304px
        }
    }
}

@include media(1200px) {
    .main-page-footer {
        display: flex;
        justify-content: space-around;

        &__contacts-and-info-wrapper,
        &__logo-and-navigation-wrapper {
            flex-wrap: nowrap;
        }

        &__phone-number,
        &__info-headline {
            margin-top: 0
        }

    }
}