.git-community {
  @include media(480px) {
    &__title {
      margin-top: 135px;
      font-size: 3rem;
      line-height: 1.2;
    }
    &__description {
      margin-top: 43px;
      font-size: 1.15rem;
    }
    &__button-wrapper {
      margin-bottom: 78px;
    }
  }


  @include media(768px) {
    &__title {
      margin-top: 156px;
    }
    &__description {
      margin-top: 38px;
      font-size: 1.5rem;
      padding: 0 40px;
    }
    &__button-wrapper {
      margin-bottom: 98px;
    }
  }


  @include media(1200px) {
    &__title {
      margin-top: 129px;
      font-size: 3.85rem;
    }

    &__button-wrapper {
      margin-bottom: 70px;
    }
  }


}