.header {
  @include media(480px) {
    &__logo-text {
      display: block;
      @include font (24px, bold, $primary-color, 'Lato');
    }

    &__button {
      font-size: 1.05rem;
      padding: 15px 25px;
    }
  }


  @include media(768px) {
    height: 118px;
    &__container {
      flex-wrap: wrap;
      align-content: center;
    }

    &__button {
      font-size: 0.95rem;
      padding: 12px 35px;
    }

    &__burger, #burgerCheckbox {
      display: none;
    }


    &__menu {
      width: 100%;
      height: auto;
      flex-direction: row;
      align-items: center;
      padding: 0 100px;
      margin-top: 15px;

      &-item {
        width: auto;
        height: auto;
        font-size: 1.15rem;
        font-weight: bold;
        line-height: normal;
        letter-spacing: normal;
        background-color: transparent;
        border-bottom: none;
        opacity: 1;
        transform: scaleY(1);
        border-radius: 0;
        color: $primary-color;
        pointer-events: auto;
        transition: 0s;
        transition-delay: 0s;

        &:hover {
          color: #fff;
        }

        &:nth-child(1) {
          display: none;
        }

        &:nth-child(n+4) {
          opacity: 1;
        }

      }
    }
  }


  @include media(1200px) {
    height: 100px;
    &__container {
      flex-wrap: nowrap;
      //align-content: center;
    }

    &__menu {
      margin-top: 0;
      padding: 0;
      justify-content: flex-end;

      &-item {
        padding-right: 48px;
      }
    }
    &__button {
      order: 1;
    }
  }
}