.landing-section {
  @include media(480px) {
    &__container {
      min-height: 730px;
    }
    &__title {
      margin-top: 101px;
      font-size: 3.9rem;
    }
    &__subtitle {
      margin-top: 35px;
      font-size: 1.4rem;
      padding: 0 25px;
    }
    &__footnote {
      margin-top: 23px;
      font-size: 1.1rem;
    }
    &__button {
      padding: 23px 63px;
      font-size: 1.5rem;
      border-radius: 35px/50%;
      &-footnote {
        transform: translate(0,49px);
      }

    }
  }


  @include media(768px) {
    &__container {
      min-height: 682px;
    }
    &__title {
      margin-top: 50px;
      font-size: 5.15rem;
    }
    &__subtitle {
      margin-top: 26px;
      font-size: 1.7rem;
    }
    &__footnote {
      margin-top: 20px;
      font-size: 1rem;
    }
  }


  @include media(1200px) {
    &__container {
      min-height: 700px;
    }
    &__title {
      margin-top: 60px;
      font-size: 5.9rem;
    }
    &__subtitle {
      margin-top: 18px;
      font-size: 2.15rem;
    }
    &__footnote {
      margin-top: 18px;
      font-size: 1.1rem;
    }
  }
}

