@include media(480px) {
    .order-callback {
        padding-top: 50px;

        &__headline {
            font-size: 28px;
        }
    }
}

@include media(768px) {
    .order-callback {
        &__headline{font-size: 30px;color:  #635c73;margin-bottom: 20px}
        &__input-wrapper {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center
        }

        &__input {
            width: 335px;
            margin: 0 20px
        }
    }

}

@include media(1200px) {
    .order-callback {
        display: flex;
        align-items: center;
        justify-content: space-around;
&__headline{margin:0;}
        &__form {
            flex-direction: row;
            justify-content: space-between;
        }
        &__input{margin: 0 10px};
        &__button--sucbscribe{margin:0}
    }
}