@include media (480px) {
    .product-features-section{


        &__headline {
            font-size: 42px;
            padding: 0 65px;
        }

        &__footer {
            height: 520px;
            background-image: url(../../img/editor480.png);
        }
    }

    .product-features{


        &__item {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            padding: 45px 15px 0 15px
        }

        &__text-wrapper {
            align-items: flex-start;
            padding-left: 15px;
        }

        &__text {
            padding: 15px 0 0 0;
        }

        &__icon {
            flex: none
        }

        &__text {
            text-align: start
        }

    }
}

@include media (768px) {
    .product-features-section {
        padding: 50px 0 25px 0;

        &__footer {
            background-image: url(../../img/editor768.png)
        }
    }
}

@include media (1200px) {
    .product-features-section {
        padding-top:84px; 
        flex-wrap: nowrap;
        flex-direction: row;
        position: relative;

        &__headline {
            font-size: 48px;
            position: absolute;
            min-height: 0px;
            padding: 0;
            width: 50%;
            top: 84px;
            left:50%
        }
        &__footer{margin:50px 0 0 75px;}
    }

    .product-features {
    &__item{padding-top: 0}
padding-left:75px;}
}