.purchase-section {
  @include media(480px) {
    &__title {
      padding-top: 61px;
      font-size: 3rem;
    }
    &__wrapper {
      padding: 57px 0 96px;
    }
    &__option {
      margin: 14px 97px 0;

      &_highlited {
        margin: 14px 75px 0;
      }
    }
  }


  @include media(768px) {
    &__title {
      padding-top: 80px;
    }
    &__wrapper {
      padding: 47px 88px 82px;
    }
    &__option {
      width: calc(50% - 40px);
      margin: 46px 20px;

      &_highlited {
        margin: 0;
        width: 50%;
        padding-bottom: 10px;
      }

      &-price-footnote {
        &_highlited {
          padding-bottom: 54px;
        }
      }
      &-description {
        &_highlited {
          margin-top: 41px;
          margin-bottom: 44px;
        }
      }
    }
  }


  @include media(1200px) {
    &__title {
      padding-top: 80px;
    }
&__wrapper {
  padding: 64px 0 90px;
  align-items: center;
}
    &__option {
      width: 257px;
      margin: 7px;

      &_highlited {
        width: 299px;
      }
    }
  }
}