.references-section {
  @include media(480px) {
    padding-top: 77px;
    &__wrapper {
      margin-top: 30px;
      padding-bottom: 83px;
    }

    &__article {
      margin-top: 65px;

      &-description {
        padding: 35px 77px 0;
      }
    }

    &:after {
      width: calc(100% - 65px);
      left: 65px;
      background-image: linear-gradient(to left,
        transparent 65px,
        rgba(255, 255, 255, 0.11) 65px,
        rgba(255, 255, 255, 0.11));
    }
  }


  @include media(768px) {
    background-position: 50% 0;
    padding-top: 80px;

    &__wrapper {
      margin-top: 42px;
      padding-bottom: 62px;
    }

    &__article {
      width: 50%;
    }

    &__footer {
      display: block;
      padding: 0 41px 21px;
      @include font(1rem, 400, rgba(162, 145, 165, 0.8), 'Lato');
      text-align: center;
    }

    &:after {
      width: calc(100% - 37px);
      left: 37px;
      background-image: linear-gradient(to left,
        transparent 37px,
        rgba(255, 255, 255, 0.11) 37px,
        rgba(255, 255, 255, 0.11));
    }
  }


  @include media(1200px) {
    padding-top: 98px;

    &__wrapper {
      margin-top: 0;
      padding-bottom: 104px;
    }

    &__article {
      margin-top: 95px;
      margin-bottom: 15px;
      width: 33%;
    }

    &__footer {
      padding: 0 151px 20px;
    }

    &:after {
      width: 780px;
      left: 50%;
      transform: translate(-50%);
      background-image: none;
      background-color: rgba(255, 255, 255, 0.11);
    }
  }
}