.carousel {
    margin: 70px 0 0 0;
    padding: 0 10px;

    &__client.slick-slide {
        @include flex(column, center, center)
    }


    &__avatar {
        border-radius: 50%;
        width: 85px;
        height: 85px;
        border: 1px solid pink;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 0 25px 0;
    }

    &__avatar-and-id-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    &__name,
    &__twitter-account {
        text-align: center
    }

    &__name {
        @include font (24px, 700, #474747)
    }

    &__twitter-account {
        @include font (16px, 400, $primary-color);
        line-height: 2;
    }

    &__feedback {
        @include font (16px, 400, #474747, Lato);
        text-align: center;
        line-height: 1.5;
        margin: 15px 50px;
    }

    &__feedback-date {
        @include font (16px, 400, $secondary-color)
    }
}


.avatar {
    &-strange {
        background-image: url(../../img/strange.jpg)
    }

    &-wayne {
        background-image: url(../../img/wayne.jpg)
    }

    &-kent {
        background-image: url(../../img/kent.jpg)
    }
}

.slick-next,
.slick-prev {
    font-size: 20px;
    color: #c8cbcf;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    text-align: center
}

.slick-prev {
    left: 5%;
    z-index: 1;
}

.slick-next {
    right: 5%;
}
.slick-active{outline: none}
.link-section {
    padding: 0 10px;
    margin-bottom: 70px;

    &__form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    &__button {
        cursor: pointer;
        outline: none;
        margin: 30px 0 20px 0;
        width: 280px;
        height: 50px;
        border-radius: 4px;
        @include font (21px, 400, #fff);
        border: none;
        text-align: center;
        position: relative;
    }

    &__button-wrapper {
        @include flex (column, center, center)
    }

    &__current-folowers {
        @include font (14px, 400, $secondary-color)
    }

    &__button .fab {
        float: left;
        font-size: 16px;
        position: absolute;
        left: 8.6%;
        top: 33%
    }

}

.link-section__button{
    &_git {
        background-color: #f3f3f3;
        color: #000;
    }
    &_git:hover {background-color: #2b414d;color:#fff;
    }

    &_twitter {
        background-color: #26a6d1;
    }
    &_twitter:hover {
        color: #26a6d1;background-color: #fff;
        border: 1px solid #26a6d1;
        box-sizing: border-box;
    }

    &_facebook {
        background-color: #3b5998;
    }
    &_facebook:hover {
        color: #3b5998;
        background-color: #fff;
        border: 1px solid #3b5998;;
        box-sizing: border-box;
    }
}