.main-page-footer {
    font-family: Monserat;
    padding: 40px 18px;

    &__logo-and-navigation-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__logo {
        margin-right: 20px;
        position: absolute;
        left:-100%
    }
    &__logo-and-text:hover &__logo {
        filter: brightness(0%)
    }
    &__logo-and-text:hover {
        color:$primary-color;
        cursor: pointer
    }
    &__logo-and-text:hover span{
        color:black;
    }

    &__logo-and-text {
        @include font(24px, 400, #333333);
       
    }

    &__logo-and-text span {
        color: $primary-color
    }

    &__description {
        @include font(14px, 400, $secondary-color);
        margin-top: 30px;
        width:260px;
        line-height: 1.5
    }

    &__nav {
        display: flex;
        flex-direction: column;
        min-width: 122px;
    }

    &__navigation-headline {
        margin: 20px 0;
        @include font(16px, 400, #323232, Monserat)
    }

    &__nav-item {
        line-height: 1.5;
        @include font(15px, 400, $primary-color);
        cursor: pointer
    }
    &__nav-item:hover{text-decoration: underline}

    &__phone-number {
        @include font(30px, 700, #31384d);margin: 35px 0 15px 0;
    }

    &__working-time {
        @include font(12px, 400, $primary-color);
        text-transform: uppercase
    }

    &__city,
    &__info-headline {
        @include font (16px, 400, #323232);
        margin: 24px 0
    }

    &__adress {
        @include font(14px, 400, $primary-color);width:220px;
        line-height: 1.5
    }

    &__info-text {
        padding-right: 30px;
        @include font(14px, 400, $primary-color, Monserat);
        line-height: 1.5
    }
}