.git-community {
  @include flex(column, flex-start, center);

  &__title {
    margin-top: 121px;
    @include font(1.85rem, 700, #635c73);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
  }

  &__description {
    margin-top: 20px;
    @include font(1rem, 700, rgba(50, 50, 50, 0.8), 'Lato');
    text-align: center;
    line-height: 1.5;
  }

  &__button-wrapper {
    margin: 15px 0px 85px;
    @include flex(row, center, center, wrap);

    & .git-btn {
      margin: 20px 10px 0px;
    }
  }

}

