.header {
  width: 100%;
  height: 103px;
  background-color: #27262a;
  z-index: 999;
  position: sticky;
  top:0;

  &_scrolled {
    opacity: 0.1;
    transition: 0.2s;
    transform: translate(0,-70%);
  }

  &:hover {
    opacity: 1;
    transform: none;
  }
  &__container {
    @include flex(row, space-between, center);
  }

  &__logo {
    @include flex(row, flex-start, stretch);

    &-pic {
      width: 43px;
      height: 41px;
      background-image: url("../../img/Logo.png");
    }

    &:hover &-pic {
      background-image: url("../../img/Logo-white.png");
    }

    &-text {
      margin-left: 17px;
      display: none;
      line-height: 41px;
      text-transform: uppercase;
    }

    &:hover &-text {
      color: #fff;
    }
  }

  #burgerCheckbox {
    position: absolute;
    right: 15px;
    top: 42px;
    opacity: 0;
  }

  &__burger {
    position: absolute;
    right: 15px;
    top: 42px;
    width: 26px;
    height: 21px;

    &-facing {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      transition: 0.5s + 0.1;
      border-radius: 50%;

      &:before, &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transition: 0.5s;
      }

      &:hover {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 0 10px rgba(0, 0, 0, 0.3);
      }

      &:before {
        transform: translateY(-50%) rotate(45deg) scale(0);
      }

      &:after {
        transform: translateY(-50%) rotate(-45deg) scale(0);
      }

    }
  }

  &__menu {
    width: 26px;
    height: 21px;
    @include flex(column, space-between, flex-end);
    pointer-events: none;
    transition: 0.5s;
    z-index: 999;


    &-item {
      width: 100%;
      color: #ffffff;
      background-color: #ffffff;
      font-size: 5px;
      letter-spacing: -2px;
      height: 8px;
      line-height: 8px;
      text-align: center;
      border-radius: 2px;
      transform: scaleY(0.4);
      transition: 0.5s, opacity 0.1s;

      &:nth-child(1) {
        width: 75%;
      }

      &:nth-child(n + 4) {
        opacity: 0;
      }
    }
  }

  #burgerCheckbox:checked { // in a separate section not to mix appearance & animation
    & ~ .header__menu {
      transform: translate(15px, 62px);
      pointer-events: auto;

      & .header__menu-item {
        height: 90px;
        width: 100vw;
        font-size: 2rem;
        line-height: 90px;
        background-color: #333333;
        border-bottom: 1px solid #3b3b3b;
        opacity: 1;
        transform: scaleY(1);
        border-radius: 0;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            $delay: ($i - 1) * 0.1s;
            transition-delay: $delay;
          }
        }

        &:hover {
          color: $primary-color;
          position: relative;

          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 4px;
            background-image: linear-gradient(to bottom, transparent 25%, $primary-color 25%, $primary-color 75%, transparent 75%, transparent);
          }
        }

        &:active {
          color: #b0a6c9;
          transition: 0s;
        }
      }
    }

    & ~ .header__burger .header__burger-facing {
      &:before {
        transform: translateY(-50%) rotate(45deg) scale(1);
      }

      &:after {
        transform: translateY(-50%) rotate(-45deg) scale(1);
      }
    }
  }

  &__button {
    padding: 12px 25px;
    position: relative;
    font-size: 0.95rem;
    border-radius: 22px;
  }
}
