.landing-section {
  background: url(../../img/Main-bg.jpg) 50% 60%;

  &__container {
    min-height: 614px;
    @include flex(column, flex-start, center);
  }

  &__title {
    margin-top: 43px;
    @include font(3.4rem, 700, #fff);
  }

  &__subtitle {
    margin-top: 20px;
    @include font(1.3rem, 400, $primary-color);
    line-height: 1.6rem;
    letter-spacing: -1px;
    text-align: center;
  }

  &__footnote {
    margin-top: 20px;
    @include font(1rem, 400, $secondary-color);
    text-transform: uppercase;
  }

  &__button {
    padding: 15px 31px;
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    font-size: 1.3rem;
    border-radius: 25px/50%;
    z-index: 1;

    &-footnote {
      position: absolute;
      top: 100%;
      transform: translate(0,35px);
      text-align: center;
      @include font(1rem, 400, $secondary-color);
      z-index: 1
    }
  }
}