.order-callback {
    padding: 30px 15px 30px;

    background-color: #f4f4f4;

    &__headline {
        @include font(24px, 700, #323232);
        text-align: center;
        margin: 0 30px;
        line-height: 1.5;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-content: center
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    &__input {
        border-radius: 21px;
        width: 290px;
        border: none;
        padding-left: 15px;
        height: 40px;
        margin-top: 15px;
        box-sizing: border-box;
        outline: none;
    }

    &__input::placeholder {
        @include font(14px, 400, #c8cbcf)
    }

    &__button--sucbscribe {
        width: 140px;
        margin: 21px auto 0px;
        background-color: $primary-color;
        height: 40px;
        border-radius: 21px;
        border: none;
        @include font (10px, 400, #fff, Montserrat);
        text-transform: uppercase;cursor: pointer;
        outline: none;
    }

    &__button--sucbscribe:hover {
        background-color: #fff;
        border:1px solid $primary-color;
        color: $primary-color;
    }

}