.product-features-section {
    @include flex(column, center, center);
    background-color: #f4f4f4;
    padding-top: 34px;

    &__headline {
        @include font(32px, 700, $primary-color);
        text-align: center;
    }

    &__footer {
        background-image: url(../../img/editor.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 381px;
        width: 100%;
    }
}

.product-features {
    &__item {
        @include flex(column, center, center, wrap)
    }

    &__text-wrapper {
        @include flex(column, center, center, nowrap)
    }

    &__headline {
        @include font (16px, 400, #323232)
    }

    &__text {
        @include font (14px, 400, $secondary-color);
        text-align: center;
        line-height: 2;
        padding: 20px 15px 0 15px
    }

    &__icon {
        margin: 25px 0;
        height: 84px;
        width: 111px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.icon-dimmer {
    background-image: url(../../img/dimmer320.png)
}

.icon-page {
    background-image: url(../../img/page320.png)
}

.icon-switch {
    background-image: url(../../img/switch320.png)
}

.icon-flask {
    background-image: url(../../img/flask320.png)
}