.purchase-section {
  background: #4a3b4e url("../../img/blurry-bg.png") center no-repeat;
  position: relative;

  &__title {
    padding-top: 73px;
    font-size: 2rem;
  }

  &__wrapper {
    padding: 39px 0 93px;
    width: 100%;
    @include flex(row, center,flex-start,wrap)
  }

  &__option {
    margin: 14px 16px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.11);
    @include flex(column, flex-start, center);

    &_highlited {
      margin: 14px 0 0;
      box-sizing: content-box;
      background-color: #413344;
    }

    &-header {
      height: 97px;
      line-height: 97px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.06);
      text-transform: uppercase;
      @include font (1.7rem, 400, #fff);
      text-align: center;

      &_highlited {
        height: 111px;
        line-height: 111px;
        background-color: #3a2d3d;
      }
    }

    &-price {
      margin-top: 32px;
      @include font (4.3rem, 700, #fff);

      &-footnote {
        position: relative;
        margin-top: 24px;
        padding-bottom: 44px;
        @include font (1rem, 400, rgba(255, 255, 255, 0.3));
        text-transform: uppercase;

        &:after {
          content: '';
          display: block;
          width: 60px;
          height: 5px;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          bottom: 0;
          background-color: $primary-color;
        }
      }

      &_highlited {
        margin-top: 15px;
        font-size: 5.85rem;
      }
    }

    &-description {
      margin-top: 31px;
      @include font(1.15, 400, #fff);
      line-height: 2;
      text-align: center;

      &_highlited {
        margin-bottom: 30px;
      }
    }

    &-purchase-btn {
      margin: 38px 0 38px;
      padding: 16px 38px;
      @include font(1.1, 400, #fff);
      text-transform: uppercase;
    }
  }
}