.references-section {
  position: relative;
  background: #4b3b4e url("../../img/References-bg.png") 50% 14px no-repeat;
  background-size: cover;
  padding-top: 61px;
  &__wrapper {
    padding-bottom: 46px;
  }

  &__article {
    margin-top: 48px;
    @include flex(column, flex-start, center);

    &-description {
      padding: 25px 20px 0;
      text-align: center;
      color: #fff;
      @include font(1.1rem, 700, #fff, 'Lato');
      font-style: italic;
      line-height: 1.5;
    }

    &-logo-wix {
      transform: translate(0, 10px);
    }

    &-logo-cb-blog {
      transform: translate(0, 10px);
    }
  }

  &__footer {
    display: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 2px;
    width: calc(100% - 20px);
    height: 2px;
    background-image: linear-gradient(to left,
      transparent 20px,
      rgba(255, 255, 255, 0.11) 20px,
      rgba(255, 255, 255, 0.11));
  }
}