a {
  text-decoration: none;

}
button,a,input {cursor: pointer;} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height:100%;
  padding: 0 15px;
  position: relative;
  @include media(480px) {
  }
  @include media(768px) {
  }
  @include media(1200px) {
    width: 1200px;
    margin: 0 auto;
  }
}

.h-flex-wrapper {
  @include flex(row, flex-start, baseline, wrap);
}

