.btn-template {
  color: #ffffff;
  border-radius: 22px;
  z-index:1;
  &_primary {
    border: 1px solid $primary-color;
    font-weight: 700;
    background-color: $primary-color;
  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
    &:active {
      background-color: #dfd9ed;

    }
  }
  &_transparent {
    border: none;
    font-weight: 400;
    background-color: rgba(255,255,255,0.15);
    text-transform: uppercase;
    &:hover {
      background-color: #d2ccd2;
      font-weight: 700;
      color: #7f6d78;
    }
    &:active {
      background-color: #c1b6bc;
    }
  }
}

.git-btn {
  cursor: pointer;
  display: inline-block;

  &__btn-body {
    line-height: 20px;
    padding: 3px 10px;
    @include font(0.77rem, 600, #24292e, '-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;');
    border: 1px solid rgba(27, 31, 35, .2);
    float: left;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

    &:hover {
      background-color: #e6ebf1;
      background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
      background-position: -.5em;
      border-color: rgba(27, 31, 35, .35);
    }

    &:active {
      box-shadow: 0px 2px 8px -6px inset;
    }
  }

  &__svg {
    line-height: 20px;
    vertical-align: middle;;
  }

  &__social-count {
    padding: 3px 10px;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, .2);
    border-left: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    @include font(0.77rem, 600, #24292e, '-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;');
    line-height: 20px;

    &:hover {
      color: #0366d6;
      cursor: pointer;
    }
  }
&:after {
  @include clearfix
}
}