@mixin media($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin font($size, $weight,$color,$family:'Montserrat') {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: $family, sans-serif;
}

@mixin flex($direction:row, $jc:flex-start, $ai:stretch, $wrap: nowrap) {
  display: flex;
  @if ($direction != row or $wrap != nowrap) {
    flex-flow: $direction $wrap;
  }
  @if ($jc != flex-start) {
    justify-content: $jc;
  }
  @if ($ai != stretch) {
    align-items: $ai;
  }
}