// all realted to text

html {
  font-size: 14px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  @include font(2.55rem, 700, #fff);
  line-height: 1.4;
  @include media(480px) {
    font-size: 3rem;
    line-height: 1.7;
  }
  @include media(768px) {
    line-height: 1;
  }
  @include media (1200px) {
    font-size: 3.4rem;
  }
}
a {
  text-decoration: none;
}